.fullPage {
    background-image: url("./components/Img/rick and morty desktop wallpaper.jpg");
    margin-top: -80px;
    background-color: #ffffff;
    background-size: 2100px 1080px;
    align-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    min-height: 120vh;
    max-height: fit-content;
    text-align: center;

}

.frontPage {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    padding-top: 60px;
   
}

#Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    transition: 1s;
}

#greetbox {
   
    display: flex;
    justify-content: center;
    padding: 40px;
}


#greetings {
    background: url("./components/Img/-4-aNWj_J38SstFp3Lvt_mCK-Cn9lQLD-1gm8yfPcs8.png");
    
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 60vw;
    background-color: beige;
    border: none;
    color: rgb(0, 0, 0);
    padding: 40px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: -3px 3px 0 rgb(240, 232, 232),
    3px 3px 0 rgb(242, 237, 237),
   3px -3px 0 rgb(238, 223, 223),
  -3px -3px 0 rgb(241, 225, 225);
}

#shrink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    transition: 1s;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    transition: 1s;
    
    
}

.cards {
    transform:scale(1,1);
    background: url("./components/Img/portal2.png"); 
    box-shadow: 10px 10px 50px 50px rgba(23, 2, 72, 0.789) inset;
    background-size: cover;
    text-align: center;
    
    padding: 20px;
    
    border-radius: 6%;
    box-shadow: #818a91;
    height: 400px;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 0.5s;
 
 
}

#cardImg {
    border: 3px solid;
    border-color: gray;
    border-radius: 50%;
    opacity: none;
}

#charBtn {
    background: url("./components/Img/chars.jpg");
    background-size: 100%;
    border: none;
    color: rgb(0, 0, 0);
    padding: 40px 120px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: -3px 3px 0 rgb(240, 232, 232),
    3px 3px 0 rgb(242, 237, 237),
   3px -3px 0 rgb(238, 223, 223),
  -3px -3px 0 rgb(241, 225, 225);
    
}

#locBtn {
    background: url("./components/Img/loc.jpg");
    background-size: 100%;
    border: none;
    color: rgb(0, 0, 0);
    padding: 40px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: -3px 3px 0 rgb(240, 232, 232),
    3px 3px 0 rgb(242, 237, 237),
   3px -3px 0 rgb(238, 223, 223),
  -3px -3px 0 rgb(241, 225, 225);
}



.front {
  backface-visibility: hidden;
  text-shadow: -2px 2px 0 rgb(240, 232, 232),
  2px 2px 0 rgb(242, 237, 237),
 2px -2px 0 rgb(238, 223, 223),
-2px -2px 0 rgb(241, 225, 225);
}


.back {
    background: url("./components/Img/back.jpg");
    background-size: cover;
    transform: rotateY(180deg) scale(-1, 1);; 
   
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.page-item {
    display: inline;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
    color: #818a91;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.page-link {
    position: relative;
    float: left;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    color: #5cb85c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.page-link:focus,
.page-link:hover {
    color: #3d8b3d;
    background-color: #eceeef;
    border-color: #ddd;
}
